<footer id="Contacto">
    <div class="container">
        <div class="content-inner">
            <div class="contact">
                <img width="72" height="72" src="/assets/images/logo.svg" alt="Logo de La Cumbre de Liderazgo">
                <p>Instituto para la Transformación Cristiana Integral/ Global Leadership Network</p>
                <p>809-688-6900 - C/ Santiago #454, Gazcue, Santo Domingo, D.N., República Dominicana</p>
            </div>
            <div class="newsletter">
                <p>Mantente Informado de más eventos</p>
                {% include footer_form.html %}
            </div>
        </div>
        <div class="divider"></div>
        <div class="copyright">
            <p>
                © 2022 Instituto para la Transformación Cristiana Integral. Todos los derechos
                reservados.
            </p>
            <div class="social-medias">
                <a href="https://www.facebook.com/institutotci">
                    <img width="24" height="24" src="/assets/images/icons/facebook.svg" alt="Facebook">
                </a> 
                <a href="https://www.instagram.com/itcird/?hl=es-la">
                    <img width="24" height="24" src="/assets/images/icons/instagram.svg" alt="Instagram">
                </a>
                <a href="https://www.youtube.com/c/InstitutoparalatransformacionCristianaIntegral">
                    <img width="24" height="24" src="/assets/images/icons/youtube.svg" alt="Youtube">
                </a>
            </div>
        </div>
    </div>
</footer>