<header>
    <div class="container">
        <img width="72" height="72" src="/assets/images/logo.svg" alt="Logo de La Cumbre de Liderazgo">
        <div class="navbar--button">
            <a rel="nofollow">
                <img src="/assets/images/icons/navbar-open.svg">
                <img src="/assets/images/icons/navbar-close.svg" style="display: none;">
            </a>
        </div>
        <div class="navbar--container">
            <a href="#Nosotros">Nosotros</a>
            <a href="#Objetivos">Objetivos</a>
            <a href="#Contacto">Contacto</a>
        </div>
    </div>
</header>