<header>
    {% include banner.html %}
    <div class="container">
        <img width="72" height="72" src="/assets/images/logo.svg" alt="Logo de La Cumbre de Liderazgo">
        <div tabindex="0" class="navbar--button">
            <a rel="nofollow">
                <img class="open" src="/assets/images/icons/navbar-open.svg">
                <img class="close" src="/assets/images/icons/navbar-close.svg">
            </a>
        </div>
        <div class="navbar--container">
            <div class="links">
                <a href="#Nosotros">Nosotros</a>
                <a href="#Objetivos">Objetivos</a>
                <a href="#Contacto">Contacto</a>
            </div>
        </div>
    </div>
</header>