<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    {% include header.html %}
    <section class="w-full-container">
        <video autoplay name="media">
            <source src="/assets/videos/cumbre-video.webm" type="video/webm">
        </video>

        <div class="container">
            <h1>Cosmovisión bíblica<br>que transforma</h1>
        </div>
    </section>
    <section class="container quotes">
        <div class="blue-card--container">
            <div class="container quotes-inner">
                <h3>Cosmovisión bíblica que transforma</h3>
                <p>
                    El instituto de transformación cristiana integra surge ante la necesidad
                    de impactar las diferentes esferas de la sociedad a través de la difusión
                    de principios de cosmovisión bíblica, con el fin de transformarla para la
                    gloria de Dios.<br>
                    <br>
                    Todo esto enseñando principios de cosmovisión bíblica que transforman
                    todas las esferas de la sociedad.
                </p>
            </div>
        </div>
        <div class="block">
            <div class="container quotes-inner">
                <h4>Lo que creemos</h4>
                <div class="quote--list">
                    <h3>Filosofía</h3>
                    <p>
                        La cosmovisión bíblica, la sabiduría de Dios revelada en la estructura y
                        el orden de la creación, interpretada a través de los principios bíblicos;
                        es la fuente para crear familias, comunidades, sociedades y naciones mas
                        justas, productivas y ordenadas, para el bienestar de todos sus habitantes.
                    </p>
                    <h3>Visión</h3>
                    <p>
                        La tierra será llena del conocimiento de la gloria de Dios como las aguas
                        cubren el mar.
                    </p>
                    <h3>Misión</h3>
                    <p>
                        Enseñar y capacitar demostrando la aplicación de la cosmovisión bíblica a
                        la población general, a través de grupos interesados e instituciones, para
                        transformar las diferentes esferas de la cultura y mejorar el estado general
                        de toda la nación.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- <div>
        <div class="video-container">
            <video src="assets/videos/cumbre-video.webm" controls></video>
        </div>
        <h1 class="video-title">
            Cosmovisión bíblica
            <br>
            que transforma
        </h1>
        <div class="blue-container">
            <div class="max-width-600">
                <h1>Cosmovisión bíblica que transforma</h1>
                <p>
                    El instituto de transformación cristiana integra surge ante la necesidad de impactar las diferentes
                    esferas de la sociedad a través de la difusión de principios de cosmovisión bíblica, con el fin de
                    transformarla para la gloria de Dios.
                    <br>
                    <br>
                    Todo esto enseñando principios de cosmovisión bíblica que transforman todas las esferas de la
                    sociedad.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="what-we-beleive-container max-width-600">
                <p>Lo que creemos</p>
                <div class="beleifs-container">
                    <div>
                        <h1>Filosofía</h1>
                        <h4>La cosmovisión bíblica, la sabiduría de Dios revelada en la estructura y el orden de la
                            creación, interpretada a través de los principios bíblicos; es la fuente para crear
                            familias, comunidades, sociedades y naciones mas justas, productivas y ordenadas, para el
                            bienestar de todos sus habitantes.</h4>
                    </div>
                    <div>
                        <h1>Visión</h1>
                        <h4>La tierra será llena del conocimiento de la gloria de Dios como las aguas cubren el mar.
                        </h4>
                    </div>
                    <div>
                        <h1>Misión</h1>
                        <h4>Enseñar y capacitar demostrando la aplicación de la cosmovisión bíblica a la población
                            general, a través de grupos interesados e instituciones, para transformar las diferentes
                            esferas de la cultura y mejorar el estado general de toda la nación.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="values-container">
                <div class="values-secion-title-container">
                    <h1>Valores</h1>
                </div>
                <div class="values-wrapper">
                    <div class="value-img-container">
                        <img src="assets/images/values/valores.webp" alt="Sabiduría">
                        <h1>Sabiduría</h1>
                    </div>
                    <div class="value-img-container">
                        <img src="assets/images/values/sabiduria.webp" alt="Valores">
                        <h1>Valores</h1>
                    </div>
                    <div class="value-img-container">
                        <img src="assets/images/values/gratitud.webp" alt="Gratitud">
                        <h1>Gratitud</h1>
                    </div>
                    <div class="value-img-container">
                        <img src="assets/images/values/bienestar.webp" alt="Bienestar">
                        <h1>Bienestar</h1>
                    </div>
                    <div class="value-img-container">
                        <img src="assets/images/values/integridad.webp" alt="Integridad">
                        <h1>Integridad</h1>
                    </div>
                    <div class="value-img-container">
                        <img src="assets/images/values/fe.webp" alt="Fe">
                        <h1>Fe</h1>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="objectives-wrapper">
                <div class="objectives-container">
                    <h3>Objetivos</h3>
                    <h5>Measure what matters with Untitled's easy-to-use reports. You can filter, export, and drilldown
                        on the data in a couple clicks.</h5>
                    <div class="objectives-list">
                        <div>
                            <img src="assets/images/icons/green-icon.svg" alt="" srcset="">
                            <h5>
                                Realizar eventos de capacitación y difusión de los valores cristianos como base para el desarrollo humano integral y cultural en todos los segmentos de la población.
                            </h5>
                        </div>
                        <div>
                            <img src="assets/images/icons/green-icon.svg">
                            <h5>Realizar eventos de capacitación y difusión de los valores cristianos como base para el
                                desarrollo humano integral y cultural en todos los segmentos de la población.
                            </h5>
                        </div>
                        <div>
                            <img src="assets/images/icons/green-icon.svg">
                            <h5>
                                Ejecutar proyectos de desarrollo humano integral en todo tipo de comunidades, especialmente en las mas necesitadas, tanto a nivel urbano como rural. 
                            </h5>
                        </div>
                        <div>
                            <img src="assets/images/icons/green-icon.svg">
                            <h5>
                                Diseñar y ejecutar proyectos para el mejoramiento de la infraestructura general de las comunidades movilizando tanto a voluntarios nacionales como extranjeros. 
                            </h5>
                        </div>
                        <div>
                            <img src="assets/images/icons/green-icon.svg">
                            <h5>
                                Capacitar lideres comunitarios, de iglesias y culturales en los fundamentos de desarrollo humano integral. 
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="objectives-img-container">
                        <img src="assets/images/objectives-img.webp">
                </div>
            </div>
        </div>
    </div>
    <footer></footer> -->
</body>
</html>