<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instituto de Transformación Cristiana Integral</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    {% include header.html %}
    <section class="w-full-container video">
        <video autoplay loop muted poster="/assets/images/video_poster_2.webp">
            <source src="/assets/videos/cumbre-video-compressed.webm" type="video/webm">
        </video>
        <div class="container">
            <h1>Cosmovisión bíblica<br>que transforma</h1>
        </div>
    </section>
    <section class="container quotes">
        <div class="blue-card--container">
            <div class="anchor" id="Nosotros" style="position: absolute; top: -120px"></div>
            <div class="container quotes-inner">
                <h3>Cosmovisión Bíblica</h3>
                <p>
                    El ITCI (Instituto para la Transformación Cristiana Integral) surge ante la 
                    necesidad de impactar las diferentes esferas de la sociedad. 
                    <br>
                    <br>
                    A través de la difusión y enseñanza de Principios de Cosmovisión Bíblica, 
                    aspiramos ver la transformación de cada esfera para la gloria de Dios.
                    <br>
                    <br>
                    Coram Deo ...
                </p>
            </div>
        </div>
        <div class="block">
            <div class="container quotes-inner">
                <h4>Lo que creemos</h4>
                <div class="quote--list">
                    <h3>Filosofía</h3>
                    <p>
                        La cosmovisión bíblica, la sabiduría de Dios revelada en la estructura y
                        el orden de la creación, interpretada a través de los principios bíblicos,
                        es la fuente para crear familias, comunidades, sociedades y naciones más
                        justas, productivas y ordenadas, para el bienestar de todos sus habitantes.
                    </p>
                    <h3>Visión</h3>
                    <p>
                        La tierra será llena del conocimiento de la gloria de Dios como las aguas
                        cubren el mar.
                    </p>
                    <h3>Misión</h3>
                    <p>
                        Enseñar y capacitar demostrando la aplicación de la cosmovisión bíblica a
                        la población general, a través de grupos interesados e instituciones, para
                        transformar las diferentes esferas de la cultura y mejorar el estado general
                        de toda la nación.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full-container">
        <div class="w-full-grid">
            <div class="grid-item extended">
                <h3>Valores</h3>
            </div>
            <div class="grid-item">
                <img src="/assets/images/values/sabiduria.webp" alt="Sabiduría">
                <h3>Sabiduría</h3>
            </div>
            <div class="grid-item">
                <img src="/assets/images/values/valores.webp" alt="Valores">
                <h3>Justicia</h3>
            </div>
            <div class="grid-item">
                <img src="/assets/images/values/gratitud.webp" alt="Gratitud">
                <h3>Gratitud</h3>
            </div>
            <div class="grid-item">
                <img src="/assets/images/values/bienestar.webp" alt="Bienestar">
                <h3>Bienestar</h3>
            </div>
            <div class="grid-item">
                <img src="/assets/images/values/integridad.webp" alt="Integridad">
                <h3>Integridad</h3>
            </div>
            <div class="grid-item">
                <img src="/assets/images/values/fe.webp" alt="Fe">
                <h3>Fe</h3>
            </div>
        </div>
    </section>
    <section class="block extended" id="Objetivos">
        <div class="container grid">
            <div class="grid--text-block">
                <h3>Objetivos</h3>
                <ul>
                    <li>
                        Capacitar lideres comunitarios, de iglesias y culturales en los fundamentos de
                        desarrollo humano integral. 
                    </li>
                    <li>
                        Diseñar y ejecutar proyectos para el mejoramiento de la infraestructura general de
                        las comunidades movilizando tanto a voluntarios nacionales como extranjeros. 
                    </li>
                    <li>
                        Ofertar servicios de consultoría a otras organizaciones de la sociedad, en cualquier
                        área del desarrollo humano integral. 
                    </li>
                </ul>
            </div>
            <div class="grid--image-block">
                <div class="image-block--inner">
                    <img src="/assets/images/objetivos.webp">
                </div>
            </div>
        </div>
    </section>
    <section class="block extended">
        <div class="container grid">
            <div class="grid--image-block">
                <div class="image-block--inner">
                    <img src="/assets/images/actividades.webp">
                </div>
            </div>
            <div class="grid--text-block">
                <h3>Actividades</h3>
                <ul class="alter">
                    <li>
                        Capacitaciones a grupos mediante el estudio participativo y aplicación relacional
                        de los principios. 
                    </li>
                    <li>
                        Difusión y producción de eventos reconocidos de liderazgo. 
                    </li>
                    <li>
                        Talleres de liderazgo a empresas para el desarrollo de la empleomanía.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="w-full-container">
        <div class="w-full-grid alter-grid">
            <div class="grid-item">
                <h3>Pilares</h3>
            </div>
            <div class="grid-item">
                <img width="200" height="200" src="/assets/images/values/gobierno.webp" alt="Gobierno">
                <h3>Gobierno</h3>
            </div>
            <div class="grid-item">
                <img width="200" height="200" src="/assets/images/values/educacion.webp" alt="Educación">
                <h3>Educación</h3>
            </div>
            <div class="grid-item">
                <img width="200" height="200" src="/assets/images/values/religion.webp" alt="Religión">
                <h3>Religión</h3>
            </div>
            <div class="grid-item">
                <img width="200" height="200" src="/assets/images/values/negocios.webp" alt="Negocios">
                <h3>Negocios</h3>
            </div>
            <div class="grid-item">
                <img width="200" height="200" src="/assets/images/values/medios.webp" alt="Medios">
                <h3>Medios</h3>
            </div>
            <div class="grid-item">
                <img width="200" height="200" src="/assets/images/values/familia.webp" alt="Familia">
                <h3>Familia</h3>
            </div>
            <div class="grid-item">
                <img width="200" height="200" src="/assets/images/values/arte_y_ciencia.webp" alt="Arte & Ciencia">
                <h3>Arte & Ciencia</h3>
            </div>
        </div>
    </section>
    {% include footer.html %}
</body>
</html>